<h1 class="headingBig">Profiles</h1><br />

<table class="center">
  <thead>
    <tr>
      <th>profile name </th>
      <th>Location </th>
      <th>Impact focus area</th>
      <th>Project type</th>
      <th>Project name</th>
      <th> Milestones </th>
      <th>   from   </th>
      <th>   to     </th>
      <th>Resources</th>
      <th>user id</th>	
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.name %></td>
        <td><%= profile.location %></td>
        <td><%= profile.impactfocus %></td>
        <td><%= profile.projecttype %></td>
        <td><%= profile.projectname %></td>
        <td><%= profile.milestones %></td>
        <td><%= profile.tfrom %></td>
        <td><%= profile.tto %></td>
        <td><%= profile.resources %></td>
        <td><%= profile.user_id %></td>
        <td><%= link_to 'Show', profile %></td>
        <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
        <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profile', new_profile_path %>