
<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @profile.location %>
</p>

<p>
  <strong>Impact focus area:</strong>
  <%= @profile.impactfocus %>
</p>

<p>
  <strong>Project type:</strong>
  <%= @profile.projecttype %>
</p>

<p>
  <strong>Project name:</strong>
  <%= @profile.projectname %>
</p>

<p>
  <strong>Milestones:</strong>
  <%= @profile.milestones %>
</p>

<p>
  <strong>from:</strong>
  <%= @profile.tfrom %>
</p>

<p>
  <strong>to:</strong>
  <%= @profile.tto %>
</p>

<p>
  <strong>Resources:</strong>
  <%= @profile.resources %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %>
