<h1>Admin area</h1>
<p><%= link_to 'New Profile', new_profile_path , :style => 'color:black;text-decoration: underline;background-color:transparent;padding:11px 64px;'%></p>
<p><%= link_to 'New Organisations', new_organisation_path, :style => 'color:black;text-decoration: underline;background-color:transparent;padding:11px 64px;' %></p>
<p><%= link_to "All Profiles", profiles_path , :style => 'color:black;text-decoration: underline;background-color:transparent;padding:11px 64px;'%></p>
<p><%= link_to "All Organisations", organisations_path , :style => 'color:black;text-decoration: underline;background-color:transparent;padding:11px 64px;'%></p>
<p><%= link_to "All Matches", matches_path , :style => 'color:black;text-decoration: underline;background-color:transparent;padding:11px 64px;'%></p>
