<h1 class="headingBig">Organisation</h1>
<p>
  <strong>Name:</strong>
  <%= @organisation.oname %>
</p>

<p>
  <strong>Location:</strong>
  <%= @organisation.olocation %>
</p>

<p>
  <strong>Impact focus area:</strong>
  <%= @organisation.oimpactfocus %>
</p>

<p>
  <strong>Project type:</strong>
  <%= @organisation.oprojecttype %>
</p>



<p>
  <strong>Milestones:</strong>
  <%= @organisation.omilestones %>
</p>

<p>
  <strong>from:</strong>
  <%= @organisation.otfrom %>
</p>

<p>
  <strong>to:</strong>
  <%= @organisation.otto %>
</p>

<p>
  <strong>amount:</strong>
  <%= @organisation.oamount %>
</p>
<p>
  <strong>equipment:</strong>
  <%= @organisation.oequipment %>
</p>
<p>
  <strong>staff:</strong>
  <%= @organisation.ostaff %>
</p>
<p>
  <strong>id:</strong>
  <%= @organisation.id %>
</p>
<%= link_to 'new Gift', new_gift_path(:oid => @organisation.id)=%>
<br><br><br><br><br><br><br>
<%= link_to 'Your Gifts', showorga_path(:oid => @organisation.id)=%>
