<%= form_for @program, html:{multipart:true} do |f| %>
  




  <div class="userlabelleft">
    <%= f.label 'Program Name' %>
  </div>
  <div class="usertextfieldright">
    <%= f.text_field :name, :class => "textfield" %>
  </div>

  <div class="userlabelleft">
    <%= f.label 'Heading' %>
  </div>
  <div class="usertextfieldright">
    <%= f.text_field :heading, :class => "textfield" %>
  </div>

  <div class="userlabelleft">
    <%= f.label 'Description'%>
  </div>
  <div class="usertextfieldright">
    <%= f.text_area :description %>
  </div>
  
  
<br><br><br><br><br><br><br><br>
  <div class="submit_button_edit">
    <%= f.button :submit %>
  </div>
  
  <%= hidden_field_tag(:oid, @oid) %>

  
<% end %>
