<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<br>
  <div class="userlabelleft">
    <%= f.label :first_name %>
  </div>
  <div class="textfieldright">
    <%= f.text_field :first_name, :class => "textfield" %>
  </div>

  <div class="userlabelleft">
    <%= f.label :last_name %>
  </div>
  <div class="textfieldright">
    <%= f.text_field :last_name, :class => "textfield" %>
  </div>

  <div class="userlabelleft"
    <%= f.label :email %>
  </div>
  <div class="textfieldright">
    <%= f.text_field :email, :class => "textfield" %>
  </div>

  <div class="userlabelleft">
    <%= f.label :password %>
  </div>
  <div class="textfieldright">  
    <%= f.password_field :password, :class => "textfield" %>
  </div>

  <div class="userlabelleft">
    <%= f.label :password_confirmation %>
  </div>
  <div class="textfieldright">
    <%= f.password_field :password_confirmation, :class => "textfield" %>
  </div>
  
  <%if current_user!= nil%>
  	<% if current_user.role=="admin" || current_user.role=="employee"%> 
 		<%= f.collection_select :role, User::ROLES, :to_s, :humanize %>
  		<%= f.label value: @user.role %>
  	<%else%>
  		<%= f.collection_select :role, User::ROLES, :to_s, :humanize %>
 	<%end%>
  <%else%>
  	<%= f.collection_select :role, User::ROLES, :to_s, :humanize %>
  <%end%>		
  <div class="buttonright">
    <%= f.submit 'save User',:class => "submit_button"%>
  </div>
<% end %>
