<%= form_for(user) do |f| %>
  <div class="usererror">
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <br><br><br>
  <% end %>
  </div>
<br>
<div class="userbackground">
  <div class="userlabelleft">
    <%= f.label 'First Name' %>
  </div>
  <div class="usertextfieldright">
    <%= f.text_field :first_name, :class => "textfield" %>
  </div>

  <div class="userlabelleft">
    <%= f.label 'Last Name' %>
  </div>
  <div class="usertextfieldright">
    <%= f.text_field :last_name, :class => "textfield" %>
  </div>

  <div class="userlabelleft"
    <%= f.label 'E-mail' %>
  </div>
  <div class="usertextfieldright">
    <%= f.text_field :email, :class => "textfield" %>
  </div>

  <div class="userlabelleft">
    <%= f.label 'Password'%>
  </div>
  <div class="usertextfieldright">  
    <%= f.password_field :password, :class => "textfield" %>
  </div>

  <div class="userlabelleft">
    <%= f.label 'Password Confirmation' %>
  </div>
  <div class="usertextfieldright">
    <%= f.password_field :password_confirmation, :class => "textfield" %>
  </div>
 </div> 
<div class="userroleselect">
  <%if current_user!= nil%>
  	<% if current_user.role=="admin" || current_user.role=="employee"%> 
 		<%= f.collection_select :role, User::ROLES, :to_s, :humanize %>
  		<%= f.label value: @user.role %>
  	<%else%>
  		<%= f.collection_select :role, User::ROLES, :to_s, :humanize %>
 	<%end%>
  <%else%>
  	<%= f.collection_select :role, User::ROLES, :to_s, :humanize %>
  <%end%>		
 </div> 
  <div class="buttonright">
    <%= f.submit 'save User',:class => "submit_button"%>
  </div>
<% end %>
