<%= form_for @gift, html:{multipart:true} do |f| %>
  

  <div class="userlabelleft">
    <%= f.label 'Gift Name' %>
  </div>
  <div class="usertextfieldright">
    <%= f.text_field :giftname, :class => "textfield" %>
  </div>

  <div class="userlabelleft">
    <%= f.label 'Heading' %>
  </div>
  <div class="usertextfieldright">
    <%= f.text_field :heading, :class => "textfield" %>
  </div>

  <div class="userlabelleft">
    <%= f.label 'Image blubb'%>
  </div>
  <div class="usertextfieldright">
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
  </div>
  
<br><br><br><br><br><br><br><br>
  <div class="submit_button_edit">
    <%= f.button :submit %>
  </div>
<% end %>