<h1 class="headingBig">Gifts</h1>
<br><br><br><br>
<table class="center">
  <thead>
    <tr>
    	<th>Name</th>
      	<th>Heaging</th>
      	<th>Picture</th>
      	<th>Orga ID</th>
      	<th colspan="3"></th>
    	
    </tr>
  </thead>

  <tbody>
    <% @gifts.each do |gift| %>
      <tr>
      
      	<td><%= gift.giftname %></td>
        <td><%= gift.heading %></td>
        <td>
        	<% if gift.image_url.to_s != nil %>
        	<%= image_tag(gift.image_url.to_s , :size => "50x50")%> 
       		<% end %>
       	</td>
       	<td><%= gift.oid %></td>
        <td><%= link_to 'Show', gift %></td>
        <td><%= link_to 'Edit', edit_gift_path(gift) %></td>
        <td><%= link_to 'Destroy', gift, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		     
      </tr>
    <% end %>
  </tbody>
</table>