<table class="center">
	<h1 class="headingSmall">Your Matches</h1><br><br>
  	<thead>
    <tr>
      <th>profile name </th>
      <th>Score</th>
      <th>amount</th>
      <th>equipment</th>
      <th>staff</th>
    </tr>
    </thead>
	<tbody>
	<% @match.each do |match| %>
      <tr>
      	<% if @user_id == match.user_id %> 
        <td><%= match.name %></td>
        <td><%= match.score %></td>
        <td><%= match.amount %></td>
        <td><%= match.equipment %></td>
        <td><%= match.staff %></td>
        <%end %>
      </tr>
      <%end%>
    </tbody>
</table>
<br><br><br>
<%= link_to 'new Profile', new_profile_path %>

<br>
