<h1 class="headingBig">CONTACT US!</h1>
<br><br><br><br>
<p class="contactParagraph1">Feel free to inform us 
	about any concernes with our Business.</p>
<br><br>
<p class="contactParagraph">You can contact us via:</p>
<br>
<div>
	<div class="sideContact">
		<p class="contactParagraph">E-mail:</p>
	</div>
	<div class="sideContact">
	 	<p class="contactParagraph2"><img src="/assets/mail_symbol2.png" width="22" height="22" alt="mail_logo" />&nbsp; &nbsp;impact@social-force.com</p>
	</div>
</div> 	
<br><br>
<div>
	<div class="sideContact">
		<p class="contactParagraph">Phone:</p>
	</div>
	<div class="sideContact">
		<img src="/assets/phone_symbol2.png" width="22" height="22" alt="phone_logo" />
	 	<p class="contactParagraph3">510-833-8679</p>
	</div>
</div> 
<br><br>
<p class="contactParagraph">Or write us here!</p>
<br><br>
<%= form_for(contact_path, method: :create) do |f| %>
	<div class="textfieldRightContact">
    <%= f.text_field :name, placeholder:"Name",:class=>"textfield",:required => true %>
    </div>
    <div class="textfieldRightContact">
    <%= f.text_field :email, placeholder:"Mail Adress", :class=>"textfield",:required => true %>
    </div>
    <div class="textArea">
    <%= f.text_area :message, placeholder:"Message",:class=>"textfield",:style=>"resize: none;width: 300px;height: 150px;margin-left:-200px;",:as => :text, :required => true %>
    </div>
    <div>
      </br>
      <%= f.submit 'Send message', :class => "submit_button" %>
    </div>
  <% end %>