<!DOCTYPE html>
<html>
  <head>
    <title>LoginP</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div id="topMenueContainer">
    <ul class="topMenue">
   		<li><%= link_to 'About', about_path, :style => 'color:white;text-decoration: underline;background-color: transparent;padding:15px 40px;' %></li>
   		<li><%= link_to 'Team', team_path, :style => 'color:white;text-decoration: underline;background-color: transparent;padding:15px 40px;' %></li>
   		<li><%= link_to 'Contact', contact_path, :style => 'color:white;text-decoration: underline;background-color: transparent;padding:15px 40px;' %></li>
   		<%if current_user!= nil%>
  			<% if current_user.role=="admin" || current_user.role=="employee"%>
  				<li><%= link_to 'Users', users_path, :style => 'color:white;text-decoration: underline;background-color: transparent;padding:15px 40px;' %></li>
   				<li><%= link_to 'Profiles', profiles_path, :style => 'color:white;text-decoration: underline;background-color: transparent;padding:15px 40px;' %></li>
   			<%else%>
   				<li>blank</li>
   				<li>blank</li>
   			<% end %>
   		<% else %>
   			<li>blank</li>
   			<li>blank</li>
   		<% end %>
   		<!--<li class="login">
   			<% if current_user %>
				<!--when user is logged in-->
 				<!--<%= link_to "Log Out", logout_path, :style => 'color:white;text-decoration: underline;background-color: transparent;padding:15px 10px;' %>
 				<p>Logged in as <%= current_user.email %></p>
 			<% else %>
 				<!-- no user is logged in -->
 				<!--<%= link_to "Sign Up", signup_path, :style => 'color:white;text-decoration: underline;background-color: transparent;padding:15px 0px;' %> or
 				<%= link_to "Log In", login_path, :style => 'color:white;text-decoration: underline;background-color: transparent;padding:15px 0px;' %>
 			<% end %>
 			<!-- flash warning for user (logged in|logged out) 
 			<% flash.each do |key, value| %>
 				<%= content_tag(:div, class: "alert alert-#{key}") do %>
				<p><%= value %></p>
 				<% end %>
			<% end %>-->
 		
   	</ul>
   	
   	<div class="login">
   			<% if current_user %>
				<!--when user is logged in-->
 				<%= link_to "Log Out", logout_path, :style => 'margin-left:100px;color:white;text-decoration: underline;background-color: transparent;padding:15px 10px;' %>
 				<p style="width:105%;margin-left: 100px;background-color:black; color:white;" style="text-align: center;">Logged in as <%= current_user.to_s %></p>
 			<% else %>
 				<!-- no user is logged in -->
 				<%= link_to "Sign Up", signup_path, :style => 'color:white;text-decoration: underline;background-color: transparent;padding:15px 0px;' %> or
 				<%= link_to "Log In", login_path, :style => 'color:white;text-decoration: underline;background-color: transparent;padding:15px 0px;' %>
 			<% end %>
 	</div>
   
 	
   	<br><br><br>
    </div>
    
    <br>
    
    <div id="socialforcelogo">
    	<%= image_tag("socialforce_logo.jpg", :alt => "logo")%>
   	</div>
    
    <div id="sideMenueContainer">
    <nav class="sideMenue">
    	<% if current_user %>
    		<% if current_user.role=="admin" || current_user.role=="employee" || current_user.role=="organisation"%>
  				<li><%= link_to 'Profile', new_profile_path , :style => 'color:black;text-decoration: underline;background-color:transparent;padding:11px 64px;'%></li><br><br><br>
   				<li class="space2"><%= link_to "Impact Manager", organisations_path , :class=>'railslink', :style => 'color:black;padding:10% 23%;'%></li><br><br><br>
   			<% end %>
   			<% if current_user.role=="support"%>
  				<li><%= link_to 'Profile', new_organisation_path , :style => 'color:black;text-decoration: underline;background-color:transparent;padding:11px 64px;'%></li><br><br><br>
   				<li class="space2"><%= link_to "Impact Manager", profiles_path , :class=>'railslink', :style => 'color:black;padding:10% 23%;'%></li><br><br><br>
   			<% end %>
   		<% end %>
   		<li><%= link_to "Volunteers", volunteers_path , :style => 'color:black;background-color:transparent;padding:11px 64px;'%></li><br><br>
   		<li><%= link_to "Gifting", gifting_path , :style => 'color:black;background-color:transparent;padding:11px 64px;'%></li><br><br>
   		<li><%= link_to "Programs", programs_path , :style => 'color:black;text-decoration: underline;background-color:transparent;padding:11px 64px;'%></li><br><br>
   	</nav>
   	<br><br><br>
    </div>
   
    
	<!--<div id="user_header">
 		<% if current_user %>
			Logged in as <%= current_user.email %>.
 			<%= link_to "Log Out", logout_path %>
 		<% else %>
 			<%= link_to "Sign Up", signup_path %> or
 			<%= link_to "Log In", login_path %>
 		<% end %>
	</div>
	
	<% flash.each do |key, value| %>
 		<%= content_tag(:div, class: "alert alert-#{key}") do %>
			<p><%= value %></p>
 		<% end %>
	<% end %>-->
	<div id="whitespace">
	<div id="yieldbackground">
		<div id="yieldcenter">
			<br><br><br>
			<%= yield %>
			<br><br><br>
		</div>
	</div>
	</div>
	
	<div id="bottomMenueContainer">
		<ul class="bottomMenue">
   			<li><%= link_to "Terms of service", tos_path, :class=>'railslink',:style => 'color:black;text-decoration: underline;background-color: transparent;padding:15px 40px;' %></li>
   			<li><%= link_to "contact us", contact_path, :class=>'railslink',:style => 'color:black;text-decoration: underline;background-color: transparent;padding:15px 40px;' %></li>
   			<li><%= link_to 'Supporter Profile', new_organisation_path , :style => 'color:black;text-decoration: underline;background-color:transparent;padding:11px 64px;'%></li>
   		</ul>
   	</div>	
  </body>
</html>
